<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <meta charset="utf-8" />+
    <link rel="shortcut icon" href="Assets/angular.png" />
	<title>AngularJS | Applications</title>
</head>
<body>

	<p>Please try in box!!!</p>
	<div ng-app="myApp" ng-controller="myCtrl">
		First Name: <input type="text" name="txtName" value="txtName" ng-model="firstName" /> <br>
		Last Name: <input type="text" name="txtLastName" value="txtLastName" ng-model="lastName"/>
		<br>
		Full Name:{{firstName + " " + lastName}}
	</div>
	<script>
		var app = angular.module('myApp', [])
		app.controller('myCtrl', function ($scope) {
			$scope.firstName = "Münire";
			$scope.lastName = "ŞİRECİ"
		});
	</script>
</body>
</html>